
// Mini Editor
// -------------------

// Mini Editors are the "text inputs" used in find+replace or in the settings.

atom-text-editor[mini] {
  padding-left: @component-padding/2;
  color: @killer-blue;
  border-radius: @component-border-radius;
  background-color: @input-background-color;

  &.is-focused {
    background-color: darken(@input-background-color, 5%);
  }

  &, // <-- Deprecated. The `&,` can be removed once the Shadow DOM can't be turned off in the settings.
  &::shadow {
    .placeholder-text {
      color: @text-color-subtle;
    }
    .selection .region {
      background-color: #2a2a2a;
    }
  }
}

atom-text-editor .gutter .line-number {
  padding-left: 10px !important;
  padding-right: 0px;
  
  &.cursor-line {
    background-color: @killer-black;
  }
}

.git-line-modified {
  padding-left: 15px;
  border-left-color: fadeout(@killer-red, 40%) !important;
}

atom-text-editor .gutter {
    color: darken(@killer-grey, 20%);
    font-weight: 100;
    padding-left: 3px;
    color: #444;
    background-color: lighten(@killer-black, 2%);
    &:first-child {
      border-right: 1px solid #171717;
      margin-right: 10px;
    }
    &:last-child {
      padding: 0px !important;
      opacity: 0;
      margin-left: -15px;
      width: 0px;
    }
}

atom-text-editor {
  line-height: 1.6em;
}
