
// Git
// -------------------

// Used to color git status

.status          { color: black; }
.status-added    { color: @killer-green; } // green
.status-ignored  { color: @killer-blue; }  // faded
.status-modified { color: darken(desaturate(@killer-red, 20%), 10%); } // orange
.status-removed  { color: @text-color-error; }   // red
.status-renamed  { color: @text-color-info; }    // blue
