
// Git
// -------------------

// Used to color git status

.status          { color: black; }
.status-added    { color: lighten(@killer-blue, 20%); } // green
.status-ignored  { color: @killer-grey; }  // faded
.status-modified { color: lighten(@killer-red, 10%); } //darken(desaturate(@killer-red, 20%), 0%); } // orange
.status-removed  { color: @text-color-error; }   // red
.status-renamed  { color: @text-color-info; }    // blue
