
// Status Bar
// -------------------

// Located at the bottom.
// Displays information about the current editor.
// Overrides: atom/status-bar

.status-bar {
  font-size: @font-size;
  color: fadeout(@text-color, 80%);
  padding: 10px 10px;
  border-top: 2px solid @killer-black;
  border-bottom: 3px solid @killer-black;
  background-color: darken(@killer-black, 10%);
  height: 30px;
}
