

// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.tree-view-resizer {
  // border-left: 5px solid @killer-white;
}

.tree-view {
  color: @killer-grey;
  border-right: 1px solid rgba(255,255,255,0.1);
  background-color: lighten(@killer-black, 5%);

  .list-item {
    margin: 3px 0px;
    border-bottom:1px solid #1b1b1b;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.05);
      font-weight:800;
    }
  }
  .list-item.selected {
    color: white;
    transform: none;
    &:hover {
      transform: none;
    }
  }
}
