// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view

.tree-view-resizer {}
.tree-view {
  padding: 0;
  background-color: lighten(@killer-black, 2%);

  .list-item {
    margin: 4px 0px;
    padding-left: 10px;
    font-weight: 300;
    text-shadow: none;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.05);
      font-weight: 600;
    }

    .selected {
      &, &:hover {
        transform: none;
      }
    }

  }
}
