// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view

.tree-view-resizer {}
.tree-view {
  // &::before {
  //   content: '☯ \00a0 \00a0 WORKSPACE';
  //   display: block;
  //   padding: 7.5px 12px;
  //   font-size: 1.3rem;
  //   font-weight: @top-text-weight;
  //   min-height: @tab-height + 8px;
  //   box-sizing: border-box;
  //   background-color: @top-bg;
  //   color: @top-text;
  //   // text-shadow: 2px 1px black;
  //   position: fixed;
  //   border-bottom: @top-border-bottom;
  //   top: 23px;
  //   width: 100%;
  //   z-index: 1;
  // }
  padding: 0;
  // padding-top: 40px;
  color: @killer-grey;
  background-color: lighten(@killer-black, 4%);

  .list-item {
    margin: 4px 0px;
    padding-left: 10px;
    font-weight: 500;
    text-shadow: none;
    transition: all 0.2s;
    
    &:hover {
      transform: scale(1.05);
      font-weight: 600;
    }
    
    .selected {
      &, &:hover {
        transform: none;
      }
    }
    
  }
}